/* 
* index.css styleSheet 
*/

/* Standard classes for text-style */
.no_margin { margin: 0 }
.no_padding { padding: 0 }
.no_margin-bot { margin-bottom: 0 }
.centered { text-align: center }
.bold { font-weight: bold }
.underlined { text-decoration: underline }
.italic { font-style: italic }

/* html { scroll-behavior: smooth } */

body {
    font-family: 'Raleway', sans-serif;
    background-color: #07132b;
    color: #60d0fb;
}

h1 {
    margin: 0;
    font-size: 8vw;
    font-family: "Baumans", sans-serif;
}

h2 {
    font-family: 'Baumans', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #f3826d;
}

h3 {
    font-family: 'Righteous', cursive;
    color: #f3826d;
}

#head {
    color: white;
    background-image: url("/assets/kurzgesagt_string_theory.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.kurzgesagt {
    font-size: 2.5vw;
    padding-left: 80%;
    padding-top: 3%;
}
.kurzegast > a {
    margin-right: 0;
}
.kurzgesagt > a:link, .kurzgesagt > a:visited { 
    color: white
}

#head { margin-bottom: 5% }

#title {
    margin-left: 3%;
    margin-top: 19%;
    padding-bottom: 4%;
}

#section_1 {
    display: inline-block;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#profile_intro {
    padding-bottom: 3%;
    margin-bottom: 7%;
    text-align: center;
}

#profile_intro > p > span {
    font-weight: 700;
    font-size: 7vw;
}

div.formation_item p { 
    margin: 5%;
    text-align: center;
}
div.formation_item > p > span {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

#langage_block_alt {
    visibility: collapse;
    block-size: 0;
    margin: 0;
    padding: 0;
}
#langage_block_alt > * {
    visibility: inherit;
    margin: inherit;
    padding: inherit;
}
#langage_block {
    visibility: visible;
}

/* Small screens [ 0px >>> 425px ] */
@media (min-width: 0px) and (max-width: 425px) {
    #head {
        margin: 0;
    }
    
    #top_page {
        cursor: pointer;
        visibility: hidden;
        font-size: 100%;
        background-color: transparent;
        border-color: transparent;
        position: sticky;
        top: 95%;
        left: 0%;
    }

    #menu_nav, #navigation_bar { visibility: collapse ; block-size: 0 }
	#menu_nav_alt {
        visibility: visible;
        position: sticky;
        top: 0;
        max-width: 100vw;
        background-color: #07132b;
  		border-radius: 4px;
  		box-shadow: 0 9px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
	}
    .flex_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
	#navigation_bar_alt div a {
        display: inline-block;
        color: #f3826d;
        font-size: 6vw;
        text-decoration: none;
        text-align: center;
        padding: 5%;
        position: relative;
        transition: all 0.3s ease;
	}
	#navigation_bar_alt div a:hover {
        color: #c234f3;
	}
	#navigation_bar_alt div a::before {
        content: "";
        transition: all 0.6s ease-in-out;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #c234f3;
	}
	#navigation_bar_alt div a:hover::before {
        right: 0;
        left: 0;
    }
    
    #formation {
        block-size: 250px;
        margin-bottom: 6%;
    }
    .formation_item {
        float: left;
        margin: 3.5%;
        width: 90%;
        border-radius: 5px;
        background-color: #4725bd;
        color: #FFFF
    }
    
    #profile_intro {
        margin-top: 5%;
    }
    
    #second_ref {
    	padding-top: 10%;
    	text-align: right;
    }
    
    .type { 
        visibility: collapse;
        margin: 0;
        padding: 0;
    }
    .type_alt {
        visibility: visible;
    }

    #skills > h3 {
        font-size: 150%;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .skills_line {
        display: flex;
        flex-direction: column;
        width: 85vw;
    	justify-content: flex-start;
    	align-items: center;
    	align-content: stretch;
	}
    
    .skill_block {
    	margin: 1.5%;
    	padding: 3%;  
    	border-radius: 5px;
    	background-color: #5f268f;
    	color: #FFFF;
    }
    
    #langage_block {
        text-align: center;
    }
    
    .small_block { width: 50% }
    .med_block { width: 70% }
    .large_block { width: 90% }

    #experiences > h2 {
        text-align: center;
        margin: 0;
    }

    .project_container {
        display: flex;
        flex-direction: column;
    }

    .project_block {
        margin-top : 2%;
        margin-block: 2%;
        border: 2px dashed white;
        padding : 3%;
    }
    
    #contact > h2 { text-align: center } 
    
    .contact_container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact_item {
        flex-basis: auto;
        flex-grow: 1;
        margin-left: 3%;
        margin-right: 3%;
    }

    .contact_icon {
        font-size: 150%;
        padding-left: 45%;
        padding-bottom: 15%
    }

    div.contact_container div:nth-child(4) > a,
    div.contact_container div:nth-child(3) > a {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    span.phone {
        padding-left: 40%;
    }
    span.github {
        padding-left: 45.5%;
    }
}

/* Small screens (2) [ 426px >>> 601px ] */
@media (min-width: 426px) and (max-width: 601px) {
    #head {
        margin: 0;
    }
    
    #top_page {
        cursor: pointer;
        visibility: hidden;
        font-size: 100%;
        background-color: transparent;
        border-color: transparent;
        position: sticky;
        top: 95%;
        left: 0%;
    }

    #menu_nav, #navigation_bar { visibility: collapse ; block-size: 0 }
	#menu_nav_alt {
        visibility: visible;
        position: sticky;
        top: 0;
        max-width: 100vw;
        background-color: #07132b;
  		border-radius: 4px;
  		box-shadow: 0 9px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
	}
    .flex_nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
	#navigation_bar_alt div a {
        display: inline-block;
        color: #f3826d;
        font-size: 4vw;
        text-decoration: none;
        text-align: center;
        padding: 2%;
        position: relative;
        transition: all 0.3s ease;
	}
	#navigation_bar_alt div a:hover {
        color: #c234f3;
	}
	#navigation_bar_alt div a::before {
        content: "";
        transition: all 0.6s ease-in-out;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #c234f3;
	}
	#navigation_bar_alt div a:hover::before {
        right: 0;
        left: 0;
    }
    
    #formation {
        block-size: 250px;
        margin-bottom: 6%;
    }
    .formation_item {
        float: left;
        margin: 3.5%;
        width: 90%;
        border-radius: 5px;
        background-color: #4725bd;
        color: #FFFF
    }
    
    #profile_intro {
        margin-top: 5%;
    }
    
    #second_ref {
    	padding-top: 10%;
    	text-align: right;
    }
    
    .type {
        visibility: collapse;
        margin: 0;
        padding: 0;
    }
    .type_alt {
        visibility: visible;
    }

    #skills > h3 {
        font-size: 150%;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .skills_line {
        display: flex;
        flex-direction: column;
        width: 85vw;
    	justify-content: flex-start;
    	align-items: center;
    	align-content: flex-start;
	}
    
    .skill_block {
        text-align: center;
    	margin: 1.5%;
    	padding: 3%;  
    	border-radius: 5px;
    	background-color: #5f268f;
    	color: #FFFF;
    }
    
    #langage_block {
        text-align: center;
    }
    
    .small_block { width: 50% }
    .med_block { width: 70% }
    .large_block { width: 90% }

    #experiences > h2 {
        text-align: center;
        margin: 0;
    }

    .project_container {
        display: flex;
        flex-direction: column;
    }

    .project_block {
        margin-top : 2%;
        margin-block: 2%;
        border: 2px dashed white;
        padding : 3%;
    }
    
    #contact > h2 { text-align: center } 
    
    .contact_container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact_item {
        flex-basis: auto;
        flex-grow: 1;
        margin-left: 3%;
        margin-right: 3%;
    }

    .contact_icon {
        font-size: 150%;
        padding-left: 45%;
        padding-bottom: 15%
    }

    div.contact_container div:nth-child(4) > a,
    div.contact_container div:nth-child(3) > a {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    span.phone {
        padding-left: 40%;
    }
    span.github {
        padding-left: 45.5%;
    }
}

/* Medium screens [ 602px >>> 900px ] <!> This range may be change <!> */
@media (min-width: 602px) and (max-width: 901px) {
    #head {
        margin: 0;
    }

    #top_page {
        cursor: pointer;
        visibility: hidden;
        font-size: 200%;
        background-color: transparent;
        border-color: transparent;
        position: sticky;
        top: 90%;
        left: 0%;
    }

    #menu_nav_alt, #navigation_bar_alt {
        visibility: collapse;
        block-size: 0
    }
    #menu_nav {
        visibility: visible;
        position: sticky;
        top: 0;
        max-width: 100vw;
        margin-bottom: 5%;
        background-color: #07132b;
        border-radius: 4px;
        box-shadow: 0 9px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
	}
    #navigation_bar {
        visibility: visible;
    }
	#navigation_bar a {
        display: inline-block;
        color: #f3826d;
        font-size: 3vw;
        text-decoration: none;
        text-align: center;
        padding: 1%;
        position: relative;
        transition: all 0.3s ease;
	}
	#navigation_bar a:hover {
        color: #c234f3;
	}
	#navigation_bar a::before {
        content: "";
        transition: all 0.6s ease-in-out;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #c234f3;
	}
	#navigation_bar a:hover::before {
        right: 0;
        left: 0;
    }


    #formation > h2 {
        padding-top: 2%;
    }
    #formation > .formation_item > p {
        font-size: 2.5vw;
    }
    
    .formation_item {
        float: left;
        margin: 3.5%;
        width: 42.5%;
        min-height: 35vw;
        height: auto;
        border-radius: 5px;
        background-color: #4725bd;
        color: #FFFF
    }

    .type {
        visibility: collapse;
        margin: 0;
        padding: 0;
    }
    .type_alt {
        visibility: visible;
    }

    #skills > h3 {
        font-size: 150%;
        margin-top: 4%;
        margin-bottom: 2%;
    }
    .skills_line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        justify-content: center;
    }
    .skill_block {
        margin: 1.5%;
        padding: 2%;  
        border-radius: 5px;
        background-color: #5f268f;
        color: #FFFF;
        width: 33vw;
        align-items: center;
    }

    #langage_block {
        visibility: collapse;
        block-size: 0;
        margin: 0;
        padding: 0;
    }
    #langage_block > * {
        visibility: inherit;
        margin: inherit;
        padding: inherit;
    }
    #langage_block_alt {
        visibility: visible;
        block-size: auto;
        border-radius: 5px;
        width: 180px;
        margin: 1.5%;
        margin-left: 33%;
        padding: 2%;
        background-color: #5f268f;
        color: #FFFF;
    }
    #langage_block_alt > * { 
        margin: unset;
        padding: unset;
        text-align: center;
    }

    .small_block { width: 120px }
    .med_block { width: 180px }
    .large_block { width: 265px }

    #experiences > h2 {
        text-align: center;
        margin: 0;
    }

    .project_container {
        display: flex;
        flex-direction: column;
    }

    .project_block {
        margin-top : 2%;
        margin-block: 2%;
        border: 2px dashed white;
        padding : 3%;
    }
    
    #contact {
        columns: 300px 2;
    }
    
    .contact_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact_item {
        margin-left: 3%;
        margin-right: 3%;
    }

    .contact_icon {
        font-size: 250%;
        padding-left: 40%;
    }

    div.contact_container div:nth-child(4) > a,
    div.contact_container div:nth-child(3) > a {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    span.phone {
        padding-left: 32%;
    }
    span.github {
        padding-left: 42%;
    }

}
/* Large screens [ 901px >>> 901+ px ] */
@media (min-width: 901px) {
    #head {
        margin: 0;
    }
    
    #top_page {
        cursor: pointer;
        visibility: hidden;
        font-size: 300%;
        background-color: transparent;
        border-color: transparent;
        position: sticky;
        top: 80%;
        left: 100%;
    }

    #menu_nav_alt, #navigation_bar_alt { visibility: collapse ; block-size: 0 }
	#menu_nav {
        visibility: visible;
        position: sticky;
        top: 0;
        max-width: 100vw;
        margin-bottom: 5%;
        background-color: #07132b;
  		border-radius: 4px;
  		box-shadow: 0 9px 5px rgba(0, 0, 0, 0.3);
        text-align: center;
	}
    #navigation_bar {
        visibility: visible;
    }
	#navigation_bar a {
        display: inline-block;
        color: #f3826d;
        font-size: 3vw;
        text-decoration: none;
        text-align: center;
        padding: 1%;
        position: relative;
        transition: all 0.3s ease;
	}
	#navigation_bar a:hover {
        color: #c234f3;
	}
	#navigation_bar a::before {
        content: "";
        transition: all 0.6s ease-in-out;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #c234f3;
	}
	#navigation_bar a:hover::before {
        right: 0;
        left: 0;
    }

    #profile_intro { margin: 3% }
    #profile_intro > p { font-size: 150% }
    
	.formation_item {
        float: left;
        margin: 3.5%;
        width: 42.5%;
        min-height: 25vw;
        height: auto;
        font-size: 1.9vw;
        border-radius: 5px;
        background-color: #4725bd;
        color: #FFFF
    }

    #skills > div.kurzgesagt {
        font-size: 1.8vw;
    }

    .type {
        visibility: visible;
    }
    .type-alt {
        visibility: collapse;
        margin: 0;
        padding: 0;
        block-size: 0;
    }

    .skills_line {
        display: flex;
    	justify-content: flex-start;
    	align-items: center;
    	align-content: space-between;
	}
    
    .skill_block {
    	margin: 1.5%;
    	padding: 1%;  
    	border-radius: 5px;
    	background-color: #5f268f;
    	color: #FFFF;
    }
    
    .small_block { width: 120px }
    .med_block { width: 140px }
    .large_block { width: 220px }
    
    #section_2 { margin-bottom: 0 }
    
    #experiences {
        columns: 2;
    }
    
    #experiences > h2 {
        text-align: center;
        margin-bottom: revert;
    }

    .project_container {
        display: flex;
        flex-direction: column;
    }

    .project_block {
        margin-top : 2%;
        margin-block: 2%;
        padding : 3%;
    }
    
    #contact {
        columns: 300px 2;
    }
    
    .contact_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact_item {
        margin-left: 3%;
        margin-right: 3%;
    }

    .contact_icon {
        font-size: 250%;
        padding-left: 40%;
    }

    div.contact_container div:nth-child(4) > a,
    div.contact_container div:nth-child(3) > a {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    span.phone {
        padding-left: 32%;
    }
    span.github {
        padding-left: 42%;
    }
}

#section_2 {
    background-image: url("/assets/kurzgesagt_space_elevator.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

#skills {
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 3%;
}

#skills > h2 {
    margin-bottom: 0;
    padding-top: 3%;
    text-align: center;
}

#second_ref {
    margin: 0;
    padding: 0;
    text-align: right;
}

#langage_block { text-align: center }

i.fas.fa-star, i.fas.fa-star-half-alt {
    font-size: 100%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { color: aqua }
    25% { color: chartreuse }
    50% { color: yellow }
    75% { color: red }
    100% { color: aqua}
}

.white {
    color: white;
}

#section_3 {
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 3%;
}

.project_block:nth-child(1) > p > span.project_title { color: blue }
.project_block:nth-child(2) > p > span.project_title { color: #7501FE }

.project_block > p > span.project_title {
    font-family: 'Righteous', cursive;
    font-size: 150%;
}

.objectives::after {
    content: " :";
}

#perso { text-align: center }

div.contact_item a:visited { color: blueviolet }